@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-family: roboto, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 10px 10%;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: initial;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
}

/* ----------------HERO SECTION------------------ */

.hero-section {
  padding: 50px 10%;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #1f2937;
  gap: 10px;
}

.hero-cta {
  flex: 1;
}

h1 {
  margin: 0;
  padding: 0;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 1rem 0;
}

.hero-button {
  background-color: #3382f6;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.hero-img {
  flex: 1;
  width: auto;
  height: 250px;
  object-fit: cover;
}

/* ----------------INFO SECTION------------------ */

.info-section {
  padding: 3vw 10vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  margin: 0;
}

.card-container {
  margin-top: 30px;
  display: flex;
  gap: 50px;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}

.card > img {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 0 100%;
  border: #3382f6 5px solid;
  border-radius: 10px;
}

.card > p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: #1f2937;
}

/* ----------------TESTIMONIAL SECTION------------------ */

.testimonial-section {
  padding: 3vw 20vw;
  background-color: #e5e7eb;
  flex: 1;
}

.quote {
  margin: 0;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  margin: 0;
  text-align: right;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #1f2937;
}
/* ----------------CALL TO ACTION SECTION------------------ */

.cta-section {
  padding: 4vw;
  flex: 1;
  display: flex;
  justify-content: center;
}

.cta-card {
  border-radius: 10px;
  background-color: #3382f6;
  width: 75%;
  padding: 3vw 10vw;
  display: flex; 
  justify-content: space-between;
}

.cta-text > h3,p {
  color: white;
  margin: 0;
}

.cta-card > button {
  border: 3px solid white;
  border-radius: 10px;
  background-color: #3382f6;
  color: white;
  padding: 3px 20px;
}